<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="bg-red-500 p-4">
    <h1 class="text-3xl font-bold">
        Hello, world!
      </h1>
    <p class="text-blue-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vitae magnam deleniti dicta tempora suscipit aspernatur atque eos, porro dolores similique voluptates est quod explicabo veritatis doloribus nam odio possimus.</p>
  </div>
</body>
</html>